.nav {
	position: fixed;
	right: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	z-index: 1;
	.nav__contain {

		background: #0000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;


		.nav__item{
			position: relative;
			list-style: none;
			padding: 0;
			.nav__link {
				display: inline-block;
				// position: absolute;
				width: 2px;
				height: 10px;
				background: white;
				margin-top: 5px;

			}
		}
	}
}